<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert new Contact</title>
</head>
<body>
<form name='f' th:object="${newContact}" th:action="@{/inputContact}" method='POST'>

Name: <input name="name" size="20"> <br />
Relationship: <input name="relationship" size="10"> <br />
Phone Number: <input name="phone" size="20"> <br />
Street: <input name="address.street" size="20"> <br />
City: <input name="address.city" size="20"> <br />
State: <input name="address.state" size="20"> <br />

<input name="submit" type="submit" value="submit" />
</form>
<a href="viewAll">View all Contacts</a>
</body>
</html>