<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Contact</title>
</head>
<body>
	<form action="#" th:action="@{/update/{id}(id=${contact.id})}"
		th:object="${contact}" method="post">
		<label for="name">Name</label> <input type="text" th:field="*{name}"
			id="name" placeholder="name"> <span
			th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> <label
			for="phone">Phone</label> <input type="text" th:field="*{phone}"
			id="phone" placeholder="phone"> <span
			th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span> <label
			for="relationship">Relationship</label> <input type="text"
			th:field="*{relationship}" id="relationship"
			placeholder="relationship"> <span
			th:if="${#fields.hasErrors('relationship')}"
			th:errors="*{relationship}"></span> <label for="address.street">Street
			Address</label> <input type="text" th:field="*{address.street}"
			id="address.street" placeholder="address.street"> <span
			th:if="${#fields.hasErrors('address.street')}"
			th:errors="*{address.street}"></span> <label for="address.city">City</label>
		<input type="text" th:field="*{address.city}" id="address.city"
			placeholder="address.city"> <span
			th:if="${#fields.hasErrors('address.city')}"
			th:errors="*{address.city}"></span> <label for="address.state">State</label>
		<input type="text" th:field="*{address.state}" id="address.state"
			placeholder="address.state"> <span
			th:if="${#fields.hasErrors('address.state')}"
			th:errors="*{address.state}"></span> <input type="submit"
			value="Update User">
	</form>
</body>
</html>